*.odt
org-clock-save.el
testmyfun.el
snippets/java-mode/copyright.yasnippet
snippets/java-mode/myjavahead.yasnippet
.wg-file.el
/url/cache
/.emacs.desktop
/auto-save-list
/.session
.cask
/custom.el
%APPDATA%
*.elc
*_flymake.el
projectile.cache
CVS
elpa
eshell/alias
.svn
*_flymake.el
*~
*.log
.yas-compiled-snippets.el
.bookmarks.el
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
abbrev_defs
session*
projectile-bookmarks.eld
semanticdb
emacs-init.el
/helm-adaptive-history
/thumbs/
/emms/
/.smex-items
/image-dired/

/elpa
eshell/
semanticdb/
*.swp
*~
abbrev_defs
/swank
/swank
/.mc-lists.el
TAGS
GTAGS
GPATH
GRTAGS
.emacs.d/emms/
tutorial/
/var
org-clock-save.el
.\#*
emms/
projectile-bookmarks.eld
history

recentf
places
ido.last

