/url/cache
/.emacs.desktop
/auto-save-list
/.session
/custom.el
*.elc
*_flymake.el
projectile.cache
CVS
eshell/alias
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
abbrev_defs
session*
projectile-bookmarks.eld
semanticdb
emacs-init.el
/helm-adaptive-history
