





<div>
  <div class="post">
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">

          <h1>{{cat-name}} Index</h1>
          <ul class="org-ul">
            {{#posts}}
              <li>{{date}}&nbsp;&nbsp;»&nbsp;&nbsp;<a href="{{post-uri}}">{{post-title}}</a></li>
            {{/posts}}
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>