<div>{{! content, do NOT indent}}
  <div class="post">
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">

          {{#title}}
            <h1 class="page-header">{{title}}</h1>

          {{/title}}
          {{{content}}}
        </div>
      </div>
    </div>