




<div>
  <div class="post">
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">

          <h1>Tag Index</h1>
          <ul class="org-ul">
            {{#tags}}
              <li><a href="{{tag-uri}}">{{tag-name}} ({{count}})</a></li>
            {{/tags}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>